*{
    margin: 0;
    padding: 0;
}

/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 /* font-family: "Roboto", sans-serif; */
body{
     font-family: "Roboto", sans-serif;
}
h1{
    color: black;
    font-size: 56px;
     font-family: "Roboto", sans-serif;
     margin: 15px;
    display:  flex;
    justify-content: center;
    align-content: center;

 
}

p{
    font-style: italic;
}

.A-Titulo{

    font-size: 40px;
    margin: 8px;   
    border: 4px solid black;
     border-radius: 8px;
     background-color: blue;
     display: flex;
     justify-content: left;

    
    
}

.pie_foto{
    font-style: italic;
    font-weight: 300;
    
}


nav{
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    

}

nav ul li{
    list-style-type: none;
}

.servicios{
      width: 100px;
      width: 99%;
      margin: 10px;
      padding: 15px;
      border: 2px solid black;
}

.foto-servicios img{
    width: 400px;
    margin: 2px;
    border: 2px solid black;
    border-radius: 5px;    
}

.foto-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
    border-radius: 4px;
    margin: 5px;
    gap: 15px;
    background-color: cadetblue;


}

.fotos-home img{
    width: 250px;
    margin: 15px;
    border: 5px solid black;
    border-radius: 5px;
     
}




/* no estilar con id  queda ressrvado para javascript */
 /* #p-unico{
    color: red;
 } */